* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: hsl(217, 28%, 15%);
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    color: #fff;
}

.container {
    display: flex;
    padding: 40px;
    justify-content: center;
}

.colunm {
    flex-direction: column;
}

/*header*/

header {
    font-family: 'Raleway', sans-serif;
}

/* NAV*/

nav .container {
    justify-content: space-between;
}

nav ul {
    display: flex;
    list-style: none;
    align-items: center;
}

nav a {
    text-decoration: none;
    color: #fff;
    display: block;
    padding: 12px;
}

/* Section intro*/

.intro img {
    width: 100%;
    max-width: 700px;
}

/* description */

.description {
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(../../images/bg-curvy-desktop.svg);
    background-position: center;
    background-size: cover;
    padding-bottom: 60px;
    padding-top: 60px;
}

.description .container {
    max-width: 700px;
}

.description h1 {
    text-align: center;
    font-size: 32px;
    font-weight: 700;
    padding-bottom: 48px;
}

.description p {
    text-align: center;
    padding-bottom: 34px;
}

.button {
    display: block;
    font-weight: 700;
    padding: 15px;
    width: 280px;
    margin: auto;
    border-radius: 28px;
    font-size: 18px;
    border: none;
    outline: none;
    background-color: #91daed;
    color: #fff;
}

/* Main */

main {
    background-color: hsl(218, 28%, 13%);
    display: flex;
    justify-content: center;
}

main .container {
    flex-wrap: wrap;
    max-width: 832px;
}

/* services */

.services a {
    text-decoration: none;
    color: #fff;
}

.services {
    text-align: center;
    width: 376px;
    padding: 20px;
}

.services img {
    padding-bottom: 30px;
}

.services h2 {
    padding-bottom: 30px;
}

.services p {
    max-width: 340px;
    margin: auto;
}

/*WORK*/

.work {
    background-color: hsl(218, 28%, 13%);
}

.work .container {
    padding: 100px;
}

.work-img, .work-text {
    width: 50%;
}

.work-img {
    display: flex;
    justify-content: flex-end;
}

.work-text {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.work-text h2 {
    font-weight: 700;
    font-size: 32px;
}

.work-text p {
    font-size: 20px;
}

.work-text a, .work-text img {
    color: hsl(198, 60%, 50%);
}

/* comments*/

.comments {
    display: flex;
    justify-content: center;
    background-color: hsl(218, 28%, 13%);
}

.comments .container {
    max-width: 1200px;
    background-image: url(../../images/bg-quotes.png);
    background-repeat: no-repeat;
}

.comment-card {
    background-color: #21293c;
    width: 360px;
    height: 220px;
    padding: 32px;
    margin: 24px;
}

.comment-card-perfil {
    display: flex;
    margin-top: 20px;
    padding-bottom: 20px;
}

.comment-card img {
    width: 28px;
    height: 28px;
    border-radius: 50%;
}

.perfil-info {
    padding-left: 16px;
}

.perfil-info .name {
    font-size: 12px;
    font-weight: 700;
}

.perfil-info .cargo {
    font-size: 12px;
    font-weight: 400;
}

/* email */

.email {
    display: flex;
    justify-content: center;
    background-color: hsl(218, 28%, 13%);
}

.email .container {
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    width: 868px;
    background-color: #1c2230;
    height: 280px;
}

.email form {
    display: flex;
    align-items: center;
}

.email input {
    width: 400px;
    height: 50px;
    border-radius: 28px;
    margin-right: 20px;
}

.email p {
    text-align: center;
}

/*footer principal*/

#footer .container {
    flex-direction: column;
}

#footer {
    background-color: hsl(216, 53%, 9%);
}

.footer-info {
    display: flex;
}

.footer-info p, .contato, .contact, .about {
    flex: 5;
}

.social {
    width: 130px;
}

#footer ul li {
    list-style: none;
    margin-bottom: 20px;
}

#footer .social {
    display: flex;
}

.contato {
    padding-left: 12px;
}

.contato img {
    padding-right: 12px;
}

#footer .social a img {
    text-decoration: none;
}

#footer .social a {
    display: block;
    border: 1px solid black;
    border-radius: 50%;
    height: 40px;
    width: 40px;
    padding: 6px;
}

/*footer*/

.attribution {
    font-size: 11px;
    text-align: center;
}

.attribution a {
    color: hsl(228, 45%, 44%);
}

@media only screen and (min-width:1240px) {
    .description {
        padding-top: 200px;
    }
}